package components

templ NavLink(display, link string) {
	<li
		class="sm:px-5 text-lg text-left cursor-pointer hover:underline"
		hx-target="#body"
		hx-swap="innerHTML"
		hx-get={ link }
		hx-push-url="true"
	>
		{ display }
	</li>
}
