package components

func outputClasses(s ...string) string {
	d := "font-header text-xl md:text-2xl"

	if s == nil {
		d += " mb-2"
	}

	for _, str := range s {
		d += " " + str
	}

	return d
}

templ Subtitle(text string, classes ...string) {
	<h2 class={ outputClasses(classes...) }>{ text }</h2>
}
