@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersDark,
        all;
}

@theme {
    --default-font-family: "Monaspace Krypton";
    --default-mono-font-family: "Monaspace Argon";
}

:root {
    --font-header: "Monaspace Xenon Bold";
}

.font-header {
    font-family: var(--font-header);
}

@font-face {
    font-family: "Monaspace Krypton";
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/MonaspaceKrypton-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Argon";
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/MonaspaceArgon-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Xenon Bold";
    font-style: bold;
    src: url("/static/fonts/MonaspaceXenon-Bold.woff2") format("woff2");
}

#preview > h1,
#preview > h2,
#preview > h3 {
    @apply font-bold;
    @apply mb-4;
    font-family: var(--font-header);
}

#preview > h1 {
    @apply text-xl;
}

#preview > h2 {
    @apply text-lg;
}

#preview > h3 {
    @apply text-sm;
}

#preview > p {
    @apply mb-2;
}

#preview > a {
    @apply hover:underline;
    @apply hover:italic;
    @apply text-info;
}

#preview > pre {
    @apply bg-base-300;
    @apply rounded-lg;
    @apply p-2;
    @apply my-1;
}
