@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        all;
}

@theme {
    --default-font-family: "Monaspace Krypton";
    --default-mono-font-family: "Monaspace Neon";
}

:root {
    --font-header: "Monaspace Xenon Bold";
}

.font-header {
    font-family: var(--font-header);
}

@font-face {
    font-family: "Monaspace Krypton";
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/MonaspaceKrypton-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Argon";
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/MonaspaceArgon-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Neon";
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/MonaspaceNeon-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Xenon Bold";
    font-style: bold;
    src: url("/static/fonts/MonaspaceXenon-Bold.woff2") format("woff2");
}

#preview h1,
#preview h2,
#preview h3 {
    @apply font-bold;
    @apply mt-8;
    @apply mb-4;
    font-family: var(--font-header);
}

#preview h1 {
    @apply text-2xl;
}

#preview h2 {
    @apply text-xl;
}

#preview h3 {
    @apply text-lg;
}

#preview p {
    @apply mt-2;
    @apply mb-2;
    @apply text-justify;
}

#preview h1 + p,
h2 + p,
h3 + p {
    margin-top: 0 !important;
}

#preview a {
    @apply hover:underline;
    @apply hover:italic;
    @apply text-accent;
}

#preview pre {
    @apply rounded-lg;
    @apply p-2;
    @apply my-1;
    @apply overflow-x-auto;
}

#preview pre code {
    @apply rounded-lg;
}

#preview ol {
    counter-reset: section;
    list-style-type: none;
    @apply pl-2;
}
#preview ol li:before {
    counter-increment: section;
    font-weight: 700;
    content: counters(section, ".") ". ";
}
#preview ul {
    counter-reset: section;
    list-style-type: lower-alpha;
}
#preview ul li:before {
    counter-increment: section;
    content: "";
}

@import "./vendor/github.min.css" screen;
@import "./vendor/github-dark.min.css" screen and (prefers-color-scheme: dark);
