package views

templ Root(subview templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Samuel Boyden</title>
			<link href="/static/css/styles.css" rel="stylesheet"/>
			<script src="/static/js/htmx.js" />
			<script defer src="/static/js/alpinejs.js" />
		</head>
		<body>
			@subview
		</body>
	</html>
}
